.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
**/*.ts
**/*.tsx
**/*.map
**/tsconfig.json
**/.vscode/**
**/.git/**
**/node_modules/**
**/images/**